# Python for Numerical Methods - Part 1

## Objectives

In this tutorial you will learn 
* Basic data types Python useful for numerical methods
* How to assign values to variables
* How to detect and report illegal (undesired) behaviour in Python code
* How to control the flow of information using conditional statements
* How to perform repetitive statements with loops
* How to display numbers

---
## Data types

### Data types for representing numbers
* integers (`int`)
* real numbers (`float`)
* complex numbers (`complex`)

### Other useful data types
* character stings
* boolean (true, false)

---

## Variable assignment

Suppose we wish to declare a variable `x` and set its value to the integer 12. 
We can do this pretty simply as

In [6]:
x = 12

Note that Python figures out you want an integer assigned to `x` by the absence of a decimal point.
If one wanted to be really explicit about it, the assignment could be done this way

In [8]:
x = int(12)

If you want to check the value of a variable, use `print()`. For instance

In [10]:
print(x)

12

If you wanted to check the data type Python is using to represent your variable, use the built-in function `type`. For example

In [12]:
print(type(x))

<class 'int'>

Notice what happens in the code below

In [14]:
x = 12.
print(x, type(x))

12.0 <class 'float'>

Becuase our assignment included a decimal point after 12 (e.g. `x = 12.`) Python understands we want to define a real number which will be represeted by the data type `float`.

I prefer to use this

In [17]:
x = 12.0

to declare floating point (real) numbers.

One can also do this

In [20]:
x = float(12) # or float(12.0)

Check we got what we expect.

In [22]:
print(x, type(x))

12.0 <class 'float'>

Note that we have added a Python comment using the `#` symbol. Any text appearing after a `#` will be interpretted as a comment.

Also note that `print()` can be provided with more than one "thing". Different things you want printed are separated by a comma.

### Complex numbers

Complex numbers can be declared in several ways. Option 1 uses the built-in function `complex(a, b)` which will set the real part to `a` and the imaginary part to `b`. For example,

In [27]:
z = complex(1.1, 2.2) # z = 1.1 + 2.2 i

Lets print it, then check its type

In [29]:
print("z =", z)

z = (1.1+2.2j)

Yep, Python using the symbol `j` to represnt the imaginary number, as opposed to `i`.

One can also declare complex numbers this way

In [32]:
z = 3.0 + 7.0j

Lets check

In [34]:
print(z, type(z))

(3+7j) <class 'complex'>

If you want to just print (or access) either the real or imaginary parts of a variable of type `complex`, you can do the following

In [36]:
r_z = z.real  # The real part is accessed via .real, and we assign this number to a new variable r_z
print("Re(z) =", r_z)

Re(z) = 3.0

For the imaginary part, do this

In [38]:
im_z = z.imag  # The imaginary part is accessed via .imag, and we assign this number to a new variable im_z
print("Im(z) =", im_z)

Im(z) = 7.0

There is no _need_ to assign the real/imaginary parts to a new variable and if all we wanted to do was to inspect the value we could have just done this

In [40]:
print("Re(z) =", z.real, "Im(z) =", z.imag)

Re(z) = 3.0 Im(z) = 7.0

Lastly note the real and imaginary parts of complex numbers in Python are always of type `float`. For example

In [42]:
z = complex(1, 2) # z = 1 + 2 i
print("Re(z) =", z.real, type(z.real), "Im(z) =", z.imag, type(z.imag))

Re(z) = 1.0 <class 'float'> Im(z) = 2.0 <class 'float'>

---
# Structure of a basic Python script

There is no requirement to have any special structure / format in your Python script. If I put the following snippet of code

```python
# My first Python script

x = 1.1
print("value of x =", x)
```

in a file called `test.py` and then in the terminal and execute `python3 test.py`, it would run and the text `value of x = 1.1` would be printed to the screen.

In this course we will write Python code and execute that code in the same way. Python code should always be put in a file, and the filename should end with the text `.py`.

---
## Operations

### Arithmatic
* `+` addition
* `-` subtraction
* `*` multiplication
* `/` division

### Comarison
* `==` equal to
* `!=` not equal to
* `>` greater than
* `<` less than
* `>=` greater than or equal to
* `<=` less than or equal to


### Logical
* `and`, `or`, `not`

Some examples:

In [47]:
x = 3.0
y = 9.0
z = x / y
print(z)

0.3333333333333333

In [48]:
a = 2.0
b = 3

print(a * b, type(a * b)) # Note that float * int resulted in an float

6.0 <class 'float'>

In [49]:
print(3.0 / 0.0)

ZeroDivisionError: float division by zero

Python will report errors like this if you try to do something undefined.

### Increment and decrement

It is often the case that you want to do something like this (or you may see it in an algorithm):
$$
i = 0
$$
$$
i = i + 1
$$

At a first glance the algebra may look weird, but in code it makes sense.
What it says is:
* "assign the value of 0 to a variable i", followed by
* "assign the value of i + 1 to a variable i".

Reading the lines from right to left (backwards) helps in this case.
In Python we can perform this via

```python
i = 0
i = i + 1
```
Python gives us a short-cut to do the same thing
```python
i = 0
i += 1
```

Such types of incrementing can be done with `float`s as well
```python
x = 0.0
x += 1.1 # same as x = x + 1.1
```

It also works with negative increments (i.e. decrement), e.g.
```python
x = 0.0
x -= 1.1 # same as x = x - 1.1
x -= 1.1 # same as x = x - 1.1
```
would result in $x = -2.2$.

Comparison operations will return `True` or `False`. For example

In [54]:
a = 1.1
b = 2.2
print(a > b)

False

In [56]:
print(a < b)

True

In [58]:
a = 1.1
b = 2.2
print(a != b)

True

In [60]:
a = 1.1
b = 2.2
print(a == b)

False

---
## Conditional statements

Python uses the syntax

```python

PYTHON_CODE_LINE_1

if CONDITION:
    CODE_GOES_HERE_A
    CODE_GOES_HERE_B

PYTHON_CODE_LINE_2
```

What is *really* important about the above syntax is that:
* There is not `end if` type statement to indicate which code should be contained within the `if` versus outside of the `if` statement
* Python figures out which code is inside the `if` based on the text indentation.
* All code to be considered with the `if` must be consistently indented

In the above `CODE_GOES_HERE_A` and `CODE_GOES_HERE_B` would be considered _within_ the `if` statement whilst `PYTHON_CODE_LINE_2` is NOT within the `if` statement.

Putting it together

In [64]:
a = 1
b = 10

if a > b:
    print('a is greater than b')
    print('a =', a, 'b =', b)

if a < b:
    print('a is less than b')
    print('a =', a, 'b =', b)

a is less than b
a = 1 b = 10

We can also use `if`-`else` type statements, or `if`-`else if`-`else` type statements

In [67]:
a = 1
b = 10

if a >= b:
    print('a is greater than or equal to b')
    print('a =', a, 'b =', b)
else:
    print('a is less than b')
    print('a =', a, 'b =', b)

a is less than b
a = 1 b = 10

In [69]:
a = 1
b = 10

if a > b:
    print('a is greater than b')
    print('a =', a, 'b =', b)
elif a < b:
    print('a is less than b')
    print('a =', a, 'b =', b)
else:
    print('a equals b')
    print('a =', a, 'b =', b)

a is less than b
a = 1 b = 10

---
## Handling illegal (undesirable) behaviour 

### Reporting errors

We saw above when we divided by 0.0 Python reported an error. We can (and should, and will) include error checking in our code. We use the keyword `raise` to report an error.

In [72]:
a = 2
b = 3
if b > a:
    raise RuntimeError('b must be less than or equal to a')

RuntimeError: b must be less than or equal to a

If we wanted a more informative error message, we could use functions other than `RuntimeError()`. The following will be useful in our numerical methods course when we wish to report an error
* `ValueError()`: Use when an operation or function receives the right type of argument but the wrong value and it cannot be matched by a more specific exception.
* `TypeError()`: Use if an operation or function is applied to an object of improper type.
* `ZeroDivisionError()`: Use when a division by 0 will (or has) occurred.
* `IndexError()`: Use if a sequence subscript is out of range.

Let's look at some example usages

In [75]:
raise ZeroDivisionError('Trying to divide by zero')

ZeroDivisionError: Trying to divide by zero

In [77]:
raise TypeError('Expected input to be of type int (integer), found str (string)')

TypeError: Expected input to be of type int (integer), found str (string)

In [79]:
raise ValueError('Expected input to be > 0')

ValueError: Expected input to be > 0

---
## Built in math functions

Python provides a wide range of functionality in what it calls *packages* and *modules*.
To use such functionality we need to `import` the package. For math functions like `exp()`, or trigonometric functions like `sin()`, we will use the `math` package. Note that `math` provides functions for real numbers (data type = `float`). For complex numbers we will have to use the `cmath` package.

Let's import the math package and try it out.

In [82]:
import math

In [84]:
b = 9.0

We want to take the square root of `b`. The square root function is defined in the package `math`. To use it we do the following

In [87]:
sb = math.sqrt(b)

In [89]:
print("sqrt(9)= ", sb)

sqrt(9)=  3.0

Other handy functions are
* `math.sin(x)` Computes $\sin(x)$.
* `math.cos(x)` Computes $\cos(x)$.
* `math.exp(x)` Computes $e^x$.
* `math.pow(x, y)` Computes $x^y$. This can also be done using `x**y`.

A full listing can be found by typing `help(math)`.

The functions in the `math` package perform error checking

In [94]:
math.sqrt(-2)

ValueError: math domain error

Using complex variables with functions from `math` will report an error

In [97]:
# Evaluate z = exp(3i), should be, using Euler's formula z = cos(3) + i sin(3)
z = math.exp(3j)

TypeError: must be real number, not complex

In [100]:
import cmath

In [102]:
z = cmath.exp(3j)
print(z)

(-0.9899924966004454+0.1411200080598672j)

In [104]:
# Check using Euler's formula
z_c = math.cos(3)
z_s = math.sin(3)
print(z_c, z_s)

-0.9899924966004454 0.1411200080598672

---
## Checking data type of a variable

We saw how to print the data type of a variable using `type()`, however what if we want to programmatically check that the data type of a variable is something specific?

There are cases where you would like to query the exact data type of a variable. For example, you may like to ensure that a variable being your code is say a real number, and if this condition is not met, you want your code to halt.
You can check use `isinstance(var, dtype)` for this purpose. `var` would be your variable and `dtype` is the data type you want to compare with `var`. Below is an example

In [107]:
a = 2 # Assign an integer to a

In [109]:
# Check if `a` is an int. isinstance() will return True if this is the case
if isinstance(a, int) == True:
    print('a is an int')

a is an int

---
# Displaying numbers and rounding numbers

In [112]:
a = 0.255000001
print(a)

0.255000001

If you want to force Python to print a fixed number of digits after the decimal point you can use the syntax

```python
'%.3f'%variable
```
which will display 3 digits after the decimal point.

In [115]:
print( '%.3f'%a )

0.255

Lets display 1, 2, 3, 5 digits

In [118]:
print( '%.1f'%a )
print( '%.2f'%a )
print( '%.3f'%a )
print( '%.5f'%a )

0.3
0.26
0.255
0.25500

Notice that the number is being rounded when displayed with 1 or 2 digits. We can get the same result using `round()`

In [121]:
print(round(a,1))
print(round(a,2))
print(round(a,3))
print(round(a,5))

0.3
0.26
0.255
0.255

However, notice that `round()` does not let you control how many digits are displayed to the screen.

It is preferrable to use exponential notation to display numbers, we can do this 

```python
'%.3e'%variable
```

which will display 3 digits after the decimal point. Note that we replaced the `f` (for floating point notation) to an `e` (for exponential notation). Here are some examples

In [125]:
print( '%.1e'%a )
print( '%.2e'%a )
print( '%.3e'%a )
print( '%.5e'%a )

2.6e-01
2.55e-01
2.550e-01
2.55000e-01

Let's look at 20 digits

In [128]:
print( ('%.20e'%a) )

2.55000000999999976159e-01

Lastly, you can force the sign of the number to be displayed in the output using `'%+.3e'%variable`.

In [131]:
a = 0.255000001
print( '%+.10e'%a )

+2.5500000100e-01

Now applying this to a negative nunber

In [134]:
a = -0.255000001
print( '%+.10e'%a )

-2.5500000100e-01

---
## Loops for repetitive statements 

Repetitive statements are best implemented with loops. If the number of repetitive statements requiring to be executed is known in advance, a `for` loop is most appropriate. As a simple (silly) example, consider dividing 10.0 by 3, four times. Below is a snippet of code doing just that.

In [137]:
value = 10.0
for i in range(0, 4):
    value = value / 3.0
    print('i =', i, ', value =', value)

i = 0 , value = 3.3333333333333335
i = 1 , value = 1.1111111111111112
i = 2 , value = 0.3703703703703704
i = 3 , value = 0.1234567901234568

Some explainations.
* The loop is called a for loop and states with the keyword `for`.
* The index used at each iteration of the for loop is associated the variable name `i`. This variable can be called anything, but since it will hold the value of integer, we usually use something like `i`, `j`, `k` to make it look like the math would.
* `range(0, 4)` provides a collection of integers we will step through with values `0, 1, 2, 3`. This can be confirmed from the output above. Using `range(1, 5)` would step through integers `1, 2, 3, 4`. Notice the integers go up to, but do not include the last value (5 in this case). `range(0, 4)` is identical to using `range(4)`.
* Like `if` statements, the for loop line ends with `:`
* Like `if` statements, the indentation level is important and determines what is considered inside the loop.

In some cases we may now know how many iterations we require in a loop. Another (silly) example would be suppose we wish to repeatedly divide 10.0 by 3.0 until the value is less than $10^{-4}$. We can do this with a `while` loop.

In [141]:
value = 10.0
while value > 1.0e-4:
    value = value / 3.0
    print('value =', '%+.8e'%value)

value = +3.33333333e+00
value = +1.11111111e+00
value = +3.70370370e-01
value = +1.23456790e-01
value = +4.11522634e-02
value = +1.37174211e-02
value = +4.57247371e-03
value = +1.52415790e-03
value = +5.08052634e-04
value = +1.69350878e-04
value = +5.64502927e-05

`while` loops continue iterating until the condition specified is met. In the above the condition is
```python
value > 1.0e-4
```

As with `for` and `if`, the first line is terminated with a `:` and the indentation level matters.

We have no automatic why to record the number of iterations the `while` loop above actually did unless we count them by hand. We never wan to do things by hand - lets let the computer do it for us. To that end, we will introduces a new variable `k` and increment it by 1 at each iteration.

In [146]:
value = 10.0
k = 0         # Initialize loop counter to 0
while value > 1.0e-4:
    value = value / 3.0
    k = k + 1  # Increment k by +1. Could have also done k += 1
    print('k =', k, 'value =', '%+.8e'%value)

k = 1 value = +3.33333333e+00
k = 2 value = +1.11111111e+00
k = 3 value = +3.70370370e-01
k = 4 value = +1.23456790e-01
k = 5 value = +4.11522634e-02
k = 6 value = +1.37174211e-02
k = 7 value = +4.57247371e-03
k = 8 value = +1.52415790e-03
k = 9 value = +5.08052634e-04
k = 10 value = +1.69350878e-04
k = 11 value = +5.64502927e-05

This may not be quite what you expected. If you expeceted `k` to be 0 on the first iteration is really does matter where you increment `k` relative to where you print the value of `k`. Let's flip the last two lines within the loop above and re-run it.

In [149]:
value = 10.0
k = 0         # Initialize loop counter to 0
while value > 1.0e-4:
    value = value / 3.0
    print('k =', k, 'value =', '%+.8e'%value)
    k = k + 1  # Increment k by +1. Could have also done k += 1

k = 0 value = +3.33333333e+00
k = 1 value = +1.11111111e+00
k = 2 value = +3.70370370e-01
k = 3 value = +1.23456790e-01
k = 4 value = +4.11522634e-02
k = 5 value = +1.37174211e-02
k = 6 value = +4.57247371e-03
k = 7 value = +1.52415790e-03
k = 8 value = +5.08052634e-04
k = 9 value = +1.69350878e-04
k = 10 value = +5.64502927e-05

We have seen loops incrementing forwards through the numbers within `range(0,5)`, e.g.

In [152]:
for i in range(0, 5):
    print(i)

0
1
2
3
4

Loops can also be reversed. The first way uses `reversed()` as follows

In [155]:
for i in reversed(range(0,5)):
    print(i)

4
3
2
1
0

That is we simply applied `reversed()` to our original range of integers.

An alternative is by flipping the arguments to `range()` and indicating you wish to decrement by `-1` in the last argument.

In [158]:
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

Huh - the indices aren't the same as obtained using `reversed()`. As before, the `range()` function starts with an index specified by the first argument and goes upto but not including the last argument. Hence if you want to iterate over indices `4, 3, 2, 1, 0` you would have to do

In [161]:
for i in range(4, -1, -1): # Start at 4, decrement by -1 until you reach but don't hit -1 (i.e. stop at 0)
    print(i)

4
3
2
1
0

The fact to obtain identical indices with a forward loop and backward loop require you to put different arguments into range can be awkward and error prone.

---

**Please complete the questions in problem set 1 which can be found in `problem_set_1.pdf`**